BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
SortIncludes: true
IncludeBlocks: Regroup
Cpp11BracedListStyle: true
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: None
NamespaceIndentation: All
